﻿.cssload-container {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    z-index: 10;
    left: 0;
}

    .cssload-container div {
        top: 40%;
        position: relative;
    }

.cssload-speeding-wheel {
    width: 49px;
    height: 49px;
    margin: 0 auto;
    border: 3px solid rgb(41,128,185);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
        -o-animation: cssload-spin 575ms infinite linear;
        -ms-animation: cssload-spin 575ms infinite linear;
        -webkit-animation: cssload-spin 575ms infinite linear;
        -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}